.flights-results {
    display: block;
    width: 100%;
    max-width: 50em;
    list-style: none;
    margin: 2em auto;
    padding: 0 1em;
}
.flights-results > li {
    -webkit-animation: fadeInUp 1s cubic-bezier(0,.32,.01,.98);
    animation: fadeInUp 1s cubic-bezier(0,.32,.01,.98);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.no-results {
    position: relative;
    display: block;
    width: 100%;
    padding: 4em 1em;
    text-align: center;
    color: #adadad;
    font-size: 1.5em;
    font-weight: 400;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.flights-results > li:nth-child(1) {
    animation-duration: 0.3s;
}
.flights-results > li:nth-child(2) {
    animation-duration: 0.4s;
}
.flights-results > li:nth-child(3) {
    animation-duration: 0.5s;
}
.flights-results > li:nth-child(4) {
    animation-duration: 0.6s;
}
.flights-results > li:nth-child(5) {
    animation-duration: 0.7s;
}
.flights-results > li:nth-child(6) {
    animation-duration: 0.8s;
}
.flights-results > li:nth-child(7) {
    animation-duration: 0.9s;
}
