.flight-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 2em;
    margin: 1em 0;
    border-radius: 4px;
    background-color: white;
    box-shadow: -1px -1px 8px #0000001a, 2px 2px 8px #0000001a;

}

.flight-details {
    flex: 2;
}
.flight-price {
    flex: 1;
    align-self: center;
    text-align: right;
    font-size: 1.5em;
    font-weight: 400;
}
