.flight-selector {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0.5em;
    max-width: 100em;
    margin: 0 auto;
}
.flight-selector > div {
    padding: 0.5em;
    flex: 1 12em;
}
.flight-selector label {
    display: block;
    margin: 0 0 0.3em;
    color: grey;
    font-weight: 400;
}

.date-input {
    display: block;
    width: 100%;
    padding: 0.7em 1em;
    margin: 0;
    border: 1px solid #efefef;
    outline: 0;
    box-shadow: none;
    font-size: 1.2em;
}
.date-input.ready {
    font-weight: bold;
}
.search-button {
    display: block;
    padding: 1em;
    margin: 1.3em 0 0 0;
    border: none;
    outline: 0;
    box-shadow: none;
    background: #929292;
    color: white;
    font-weight: bold;
    -webkit-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}
.search-button:hover {
    background: black;
}
.search-button[disabled] {
    opacity: 0.5;
    background: #929292;
    cursor: default;
}
.search-button[disabled]:hover {
    background: #929292;
}
