.loader {
    position: relative;
    display: block;
    width: 100%;
    padding: 1em;
    text-align: center;
}
.spinner {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid transparent;
    position: relative;
}
.spinner::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px solid #1d8ecd;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    clip: rect(0px, 80px, 40px, 0px);
    -webkit-animation: rotate 0.7s linear infinite;
    animation: rotate 0.7s linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(360deg)
    }
}
@keyframes rotate {
    0% {
        transform:rotate(0deg)
    }
    100% {
        transform:rotate(360deg)
    }
}
