.airport-selector {
    position: relative;
}
.airport-input {
    position: relative;
    display: block;
    width: 100%;
    padding: 0.7em 1em;
    margin: 0;
    border: 1px solid #efefef;
    outline: 0;
    box-shadow: none;
    font-size: 1.2em;
}
.airport-input.ready {
    font-weight: bold;
}
.airports-list {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 20em;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.3);
    margin: 0;
    padding: 0;
}
.airport-list-item {
    position: relative;
    display: block;
    width: 100%;
    padding: 0.7em;
    margin: 0;
    list-style: none;
    cursor: pointer;
    font-size: 1.2em;
    text-align: left;
}
.airport-list-item:hover {
    background-color: rgb(230,230,230);
}
