body {
    margin: 0;
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #505050;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.hidden {
    display: none;
}
